body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #05a4e5;
  text-align: left;
}
h5 {
  display: inline-block;
  color: white;
  text-align: left;
  position: relative;
  top: -20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}
.nav-logo {
  width: 15vh;
  height: 10vh;
  margin-top: 20px;
  margin-left: 10px;
}
.teacherimg {
  position: relative;
  left: 40%;
}

.tname {
  position: relative;
  left: 42%;
  display: inline-block;
}
