body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #05a4e5;
  text-align: left;
  padding-bottom: 4px;
}

nav a {
  padding-top: 1em;
  color: rgb(14, 13, 13);
  text-decoration: none;
  margin-right: 30px;
  font-family: "Georgia", serif;
  font-size: 18px;
  font-weight: bold;
}

nav a:hover {
  border-bottom: 7px solid rgb(0, 0, 0);
  padding-bottom: 36px;
  margin-bottom: 0;
}

nav a button {
  background-color: #009d4f;
  color: white;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  font-family: "Georgia", serif;
  font-size: 18px;
  font-weight: bold;
  border: solid 1px;
  border-color: white;
}

.navtext {
  text-align: right;
  padding-top: 20px;
}

.nav-logo {
  width: 15vh;
  height: 10vh;
  margin-top: -50px;
  margin-left: 10px;
}
